<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Google News</title>
</head>
<body >
    <nav>
        <div class="burger">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                                <a href="/" >Home</a>
                                <a href="/0" >TopNews</a>
                                <a href="/1" >Technolog</a>
                                <a href="/2" >Sport</a>
                                <a href="/3" >Business</a> 
                                <a href="/4" >Science</a>
                                <a href="/5" >Health</a>
                                <a href="/6" >Entertainment</a>  
            </div>
            
            <div id="main">
                <button class="openbtn" onclick="openNav()">☰</button>  
            </div>
            
            <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }
            
            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
            }
            </script>
        </div>


        <div class="up">
            <div class="logo"> <p>Google News</p></div>
            <form action="/search" method="post" class="h-flex">
               <div class="search"><input type="text" name="input" autocomplete="off" ><button type="submit" name="button"><img src="https://www.freeiconspng.com/uploads/search-icon-png-2.png"></button></div>
            </form>
            <div class="account"><img src="/img/logo.png" ></div>
        </div>
        <div class="h-flex">
            <div class="down"> 
            <ul>
                    <li><a href="/" >Home</a></li>
                    <li><a href="/0" >TopNews</a></li>
                    <li><a href="/1" >Technolog</a>y</li>
                    <li><a href="/2" >Sport</a></li>
                    <li><a href="/3" >Business</a></li> 
                    <li><a href="/4" >Science</a></li>
                    <li><a href="/5" >Health</a></li>
                    <li><a href="/6" >Entertainment</a></li>         
                </ul>
            </div>
        </div>
    </nav>