<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Google News</title>
</head>
<body >
    <nav>
        <div class="up">
            <div class="logo"> <p>Google News</p></div>
            <form action="/search" method="post" class="h-flex">
               <div class="search"><input type="text" name="input" autocomplete="off" ><button type="submit" name="button"><img src="https://www.freeiconspng.com/uploads/search-icon-png-2.png"></button></div>
            </form>
            <div class="account"><img src="/img/logo.png" ></div>
        </div>
            <ul>
                <li><a href="/" >Home</a></li>
                <li><a href="/0" >Top News</a></li>
                <li><a href="/1" >Technolog</a>y</li>
                <li><a href="/2" >Sport</a></li>
                <li><a href="/3" >Business</a></li> 
                <li><a href="/4" >Science</a></li>
                <li><a href="/5" >Health</a></li>
                <li><a href="/6" >Entertainment</a></li>         
            </ul>
        <div class="dowm">
        </div>
    </nav>